// src/styles/_variables.scss
$primary-color: #FF6F00; // Orange shade from the logo
$secondary-color: #00BFA5; // Green shade from the logo
$accent-color: #00E5FF; // Light blue shade from the logo
$text-color: #333333; // Dark color for text
$background-color: #F5F5F5; // Light background color
$background-light: #f9f9f9; // Add this line
$background-dark: #2c3e50; // Dark background color


