@import './variables'; // Import color variables for consistency

.footer {
  background-color: $primary-color; // Using the primary color from variables
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100%;

  p {
    margin: 0;
    font-size: 16px;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: $accent-color;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    font-size: 12px;
    padding: 15px 0;
  }
}
