@import "../../styles/variables";
@import "../../styles/App.scss";

.objectives {
  padding: 2rem 1rem;
  background-color: $background-light;

  h2 {
    color: $primary-color;
    margin-bottom: 1.5rem;
    font-size: 2rem; // Default for larger screens

    @media (max-width: 768px) {
      font-size: 1.5rem; // Adjust for tablets
    }

    @media (max-width: 480px) {
      font-size: 1.25rem; // Adjust for mobile
    }
  }

  p {
    color: $text-color;
    line-height: 1.8;
    margin-bottom: 1rem;
    font-size: 1rem; // Default for larger screens

    @media (max-width: 768px) {
      font-size: 0.9rem; // Adjust for tablets
    }

    @media (max-width: 480px) {
      font-size: 0.8rem; // Adjust for mobile
    }
  }

}