@import "../../styles/variables";
@import "../../styles/App.scss";

.vision-mis {
  padding: 2rem 0;
  background-color: $background-color;

  h2 {
    color: $primary-color;
    margin-bottom: 1.5rem;
    font-size: 2rem; // Default for larger screens
  }

  .content {
    display: flex;
    flex-direction: column;

    // Tablet and above
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    // Mobile screens
    @media (max-width: 480px) {
      padding: 1.5rem 0;

      h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      .vision,
      .mission {
        margin-bottom: 1.5rem;

        h3 {
          font-size: 1.2rem;
        }

        p {
          font-size: 0.95rem;
        }
      }
    }

    .vision,
    .mission {
      flex: 1;
      margin-bottom: 2rem;
      width: 45%;

      h3 {
        color: $secondary-color;
        margin-bottom: 1rem;
        font-size: 1.75rem; // Default for larger screens
      }

      p {
        color: $text-color;
        line-height: 1.8;
        font-size: 1rem; // Default for larger screens
      }
    }
  }

  // Smaller screens (below tablet)
  @media (max-width: 768px) {
    padding: 1.5rem 0;

    h2 {
      font-size: 1.75rem;
    }

    .vision,
    .mission {
      width: 100% !important;
      h3 {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.95rem;
      }
    }
  }
}
